{% extends 'base.html' %}

{% block title %}Информация о сайте туристического агентства{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
<h2 class="header">Здесь вы можете получить основную информацию о нашем туристическом агентстве</h2>
<p>Основными видами деятельности предприятия являются внутренний и международный (въездной и выездной) туризм,
    преимущественно - международный. В основном фирма специализируется на организации поездок российских граждан в
    Китай, Турцию и Египет и путешествие по Золотому кольцу России.</p>
{% endblock %}